# 컴파일된 결과물 (Binary)
*.class
bin/
build/
target/

# 이클립스 특정 설정 파일
.settings/
.metadata/
.classpath
.project
.factorypath

# 로그 파일 및 임시 파일
*.log
tmp/

# OS 및 기타 설정
.DS_Store
Thumbs.db

# 환경변수 (보안이 필요한 정보가 담긴 경우)
.env

# 업로드 안 할 폴더
Git/
SW/

vscode/
공유받은 자료(커밋XXX)/
node_modules/
apache-tomcat-9.0.88/
openjdk-11.0.0.1_windows-x64_bin/
sts3.9.17/
환경세팅자료/

*.pem
*.csv

# 임시로 잠깐 커밋 스탑
프로젝트/* */node_modules/* * /.env
1_Java_프로젝트/카페 키오스크 영상 자료/
프로젝트/1_Java_프로젝트/카페 키오스크 영상 자료/

------
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

secrets.env

# 용량이 너무 커서 제외시킨 파일
Spring/교안자료/토비의 스프링3.pdf
Spring/환경세팅자료/
