# 컴파일된 결과물 (Binary)
*.class
bin/
build/
target/

# 이클립스 특정 설정 파일
.settings/
.metadata/
.classpath
.project
.factorypath

# 로그 파일 및 임시 파일
*.log
tmp/

# OS 및 기타 설정
.DS_Store
Thumbs.db

# 환경변수 (보안이 필요한 정보가 담긴 경우)
.env